In [113]:
#modules

import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
import numpy as np
from pprint import pprint

In [114]:
#define api key, endpoint

API_KEY = 'ENTER YOUR API KEY HERE!'
HEADERS = {'Authorization':  'Bearer %s' % API_KEY}



#offset = 5000
#define parameters for search
#params = {'term':'restaurants', 'food',
          #'limit': 50,
          #'radius': 40000,
          #pagination
          #'offset': offset,
          #'location':'Los Angeles'}
            
yelp_data = []
offset = 0
#daily API call limit:5,000
for x in range(20):
    offset = x *50
    params = {
        'term':'restaurants',
        'limit': 50,
        # The max value is 40000 meters (about 25 miles) https://www.yelp.com/developers/documentation/v3/business_search
        'radius': 40000,
        #pagination
        'offset': offset,
        'location':'Los Angeles'
    }
    
#make a request to yelp api store response in variable 
    response_Yelp = requests.get(url, params= params, headers = HEADERS)

# convert the JSON string to a Dic
    data = response_Yelp.json()
    print(data.keys())

#pprint(business)

#get the businesses loop through
    print("="* 64)
    for business in data['businesses']:
#print("="* 16)
#pprint(business)

        yelp_columns = {
            "alias":business["categories"][0]["alias"],
            "name":business["name"],
            "latitude":str(business["coordinates"]["latitude"]),
            "longitude":str(business["coordinates"]["longitude"]),
            "is_closed":business["is_closed"], 
            "rating":business["rating"], 
            "review_count":business["review_count"]
        }
    
#         print(yelp_columns)
        yelp_data.append(yelp_columns)

#array to dataframe, then dataFrame to CSV

data_csv = pd.DataFrame(yelp_data)

#rename alias column to category
data_csv.rename(columns={'alias': 'category'}, inplace=True)

dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================
dict_keys(['businesses', 'total', 'region'])
================================================================

In [115]:
#pprint(business)
print(data_csv)

            category  is_closed          latitude          longitude  \
0    tapasmallplates      False          34.10052         -118.32927
1            italian      False          34.03402         -118.22919
2           southern      False         34.061517        -118.239716
3         gastropubs      False          34.12384         -118.26868
4             dimsum      False          34.07577         -118.36982
5        newamerican      False         34.048111        -118.258345
6            italian      False  34.0833586783984  -118.324724939274
7             french      False          34.06415         -118.34367
8           filipino      False          34.08222         -118.30948
9            lounges      False          34.04897          -118.2514
10       chickenshop      False        34.0880681        -118.308962
11          japanese      False         34.050023        -118.239935
12      tradamerican      False         34.096039        -118.326357
13             delis      False           34.0476        -118.317234
14         taiwanese      False  34.0581675839108  -118.417310318771
15            korean      False         34.068589        -118.309513
16             ramen      False  34.0573614429986  -118.306769744705
17           italian      False          34.07117         -118.37702
18          southern      False         34.102039        -118.299858
19     mediterranean      False        34.0473515       -118.3762949
20            korean      False         34.064009       -118.3007013
21            korean      False          34.05797          -118.2944
22            french      False          34.07208         -118.36749
23            french      False         34.051909       -118.3843212
24     mediterranean      False        34.1023799         -118.32715
25          tikibars      False          34.10187         -118.33383
26           chinese      False          34.06301          -118.2384
27             ramen      False    34.05008090944    -118.2401804513
28           italian      False         34.050039        -118.248552
29       newamerican      False          34.07586         -118.35247
..               ...        ...               ...                ...
970          chinese      False        34.0761949       -118.3751356
971      newamerican      False          34.07172         -118.36485
972           french      False         34.081263        -118.382661
973          chinese      False          34.07817         -118.25676
974          mexican      False  34.0838374478871  -118.213408961892
975          burgers      False    34.07329654331  -118.218281194568
976       salvadoran      False          34.07655        -118.294522
977             thai      False          34.02276         -118.40074
978        wine_bars      False         34.105882        -118.342155
979      petadoption      False          34.07602         -118.28625
980          mexican      False          34.02362         -118.26508
981             thai      False        34.0636105        -118.295899
982          burgers      False        34.0444029       -118.2560307
983           indpak      False         34.066785        -118.376028
984           donuts      False          34.04836         -118.24071
985          seafood      False           34.0524         -118.30238
986          burgers      False  34.0484862124282  -118.258173025795
987       vietnamese      False  34.0572728932769  -118.307640589179
988            steak      False         34.095603         -118.37238
989         japanese      False  34.0441588025235  -118.256119117141
990            ramen      False        34.0494361        -118.239334
991         southern      False         34.042333        -118.263475
992          italian      False          34.07567         -118.32328
993           french      False        34.0625239       -118.2362958
994           korean      False         34.058785        -118.308885
995         armenian      False        34.0985785        -118.304128
996           korean      False        34.0673969       -118.3088885
997      newamerican      False          34.03414         -118.22965
998             thai      False          34.09026         -118.26783
999         peruvian      False        34.0766258       -118.2869568

                                             name  rating  review_count
0                                   Running Goose     4.5           967
1                                          Bestia     4.5          5857
2                                   Howlin' Ray's     4.5          5638
3                                    The Morrison     4.5          4211
4                               Bao Dim Sum House     4.0          2784
5                                       JOEY DTLA     4.5           353
6                                   Osteria Mamma     4.0          1524
7                                      République     4.0          5144
8                                       Rice Guys     5.0            59
9                                           Perch     4.0          7284
10                             Dave's Hot Chicken     4.5          2536
11                                 Marugame Monzo     4.5          3536
12                                The Parker Room     4.5           166
13                                  Pasta Sisters     4.5          1337
14                                   Din Tai Fung     4.0          1136
15                                       GamBoJok     5.0            18
16                             Slurpin' Ramen Bar     4.5          4051
17                                         Emilia     5.0            51
18                                   Angry Chickz     4.5           726
19                    Oasis Mediterranean Cuisine     4.5           258
20                                    Yup Dduk La     4.5          1953
21                                   Hak San - LA     4.0            34
22                                The Little Door     4.0          2033
23                                  A Food Affair     4.5          1243
24                                 Cleo Hollywood     4.0          1703
25                                 LONO Hollywood     4.5           359
26                                      Yang Chow     4.0          2485
27                         Daikokuya Little Tokyo     4.0          8329
28                            Maccheroni Republic     4.0          2767
29                                        Mixtape     4.0            95
..                                            ...     ...           ...
970                                 Northern Cafe     4.0           289
971                                  Bacari W 3rd     4.5           255
972                                        Zinqué     4.0           737
973                                       Combo A     4.5           227
974                    Carnes Asadas Pancho Lopez     5.0            95
975                         Lincoln Kitchen & Tap     4.5           147
976                           Atlacatl Restaurant     4.0           466
977                                  Natalee Thai     3.5          1280
978                              Kensho Hollywood     4.0            32
979                                  The Dog Cafe     4.0           255
980                        Birrieria Los Gonzalez     4.0           162
981                                       My Thai     4.0           535
982                                   Shake Shack     3.5           326
983  Spice Affair Beverly Hills Indian Restaurant     4.5           579
984                                       Dōnatsu     4.5           228
985                                        Oyabun     4.0            78
986                       The Counter Downtown LA     4.0           894
987                                   Thank U Pho     4.0           633
988                       Saddle Ranch Chop House     3.5          1841
989                                       Shibumi     3.5           313
990                             Rakkan Ramen-DTLA     4.0           537
991                                   Krab Queenz     2.5           249
992                            Louise's Trattoria     3.5           264
993                               Oriel Chinatown     4.5           123
994                            Hwal Uh Kwang Jang     4.0           190
995                                Lux Restaurant     5.0            25
996                                   Ssa Rit Gol     4.5            26
997                          Firehouse Restaurant     4.0            14
998                         The Silver Lake House     4.5           137
999                          Don Felix Restaurant     3.5           465

[1000 rows x 7 columns]

In [116]:
#saving the dataframe

data_csv.to_csv('40k.csv')