In [16]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
# read both of the csv files

data_file = "yelp_data2.csv"
data_file2 = "40k.csv"


# convert both of the csv files to two DatFrames

df1 = pd.read_csv(data_file)
df2 = pd.read_csv(data_file2)


# Append both of the DataFrames to a single DataFrame


df = df1.append(df2)

#df.describe()


# remove columns
#df = df.iloc[:,21:]


df.drop("Unnamed: 0", axis=1, inplace=True )

In [18]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [19]:
df.head()
df.describe()

          latitude    longitude       rating  review_count
count  2715.000000  2715.000000  2715.000000   2715.000000
mean     34.065305  -118.307521     4.189134    933.327808
std       0.029432     0.051765     0.363765   1196.964016
min      33.952470  -118.444317     2.500000      1.000000
25%      34.048111  -118.344867     4.000000    243.000000
50%      34.063407  -118.305408     4.000000    588.000000
75%      34.083482  -118.261219     4.500000   1192.000000
max      34.171995  -118.191208     5.000000  16584.000000

In [20]:
#saving the dataframe

df.to_csv('yelp_data10.csv')